{
  "openapi": "3.0.1",
  "info": {
    "title": "Retail API",
    "description": "Retail API.\nAuthentication requires a Basic Authorization Header in combination with a\n           Company Header containing the administration name.",
    "contact": {
      "name": "Troublefree",
      "email": "info@troublefree.nl"
    },
    "license": {
      "name": "commercial"
    },
    "version": "1"
  },
  "servers": [
    {
      "url": "https://retail.troublefree.nl/v3/api"
    }
  ],
  "security": [
    {
      "BasicAuth": [],
      "CompanyKey": []
    }
  ],
  "paths": {
    "/articles": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get article list",
        "parameters": [
          {
            "name": "updated_after",
            "in": "query",
            "description": "If specified, only articles that have changed since the given date are returned.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "webshop_only",
            "in": "query",
            "description": "If true, only list articles visible in the webshop",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["mainArticle", "customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Article list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Articles"],
        "summary": "Store new article",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["mainArticle", "customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Article"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/articles/{article}": {
      "put": {
        "tags": ["Articles"],
        "summary": "Update article",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["mainArticle", "customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Article"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Articles"],
        "summary": "Delete article",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/article_groups": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get article group list",
        "parameters": [
          {
            "name": "include_hidden",
            "in": "query",
            "description": "If true, soft deleted article groups will be included",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Article group list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Articles"],
        "summary": "Store new article group",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleGroup"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/article_groups/{article_group}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get specific article group",
        "parameters": [
          {
            "name": "article_group",
            "in": "path",
            "description": "Article group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleGroup"
                }
              }
            }
          },
          "404": {
            "description": "Entity Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Articles"],
        "summary": "Update article group",
        "parameters": [
          {
            "name": "article_group",
            "in": "path",
            "description": "Article group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleGroup"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Articles"],
        "summary": "Delete article group",
        "parameters": [
          {
            "name": "article_group",
            "in": "path",
            "description": "Article group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/article_groups/batch": {
      "post": {
        "tags": ["Articles"],
        "summary": "Store new batch article groups",
        "requestBody": {
          "description": "Article group",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "Store new batch article groups",
                    "items": {
                      "$ref": "#/components/schemas/ArticleGroup"
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/article_main_groups": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get list of article main groups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article main group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Article main group list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Articles"],
        "summary": "Store new article main group",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article main group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article main group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleMainGroup"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/article_main_groups/{article_main_group}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get specific article main group",
        "parameters": [
          {
            "name": "article_main_group",
            "in": "path",
            "description": "Article main group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article main group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article main group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticleMainGroup"
                }
              }
            }
          },
          "404": {
            "description": "Entity Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Articles"],
        "summary": "Update article main group",
        "parameters": [
          {
            "name": "article_main_group",
            "in": "path",
            "description": "Article main group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the article main group(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Article main group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticleMainGroup"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Articles"],
        "summary": "Delete article main group",
        "parameters": [
          {
            "name": "article_main_group",
            "in": "path",
            "description": "Article main group ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/article_main_groups/batch": {
      "post": {
        "tags": ["Articles"],
        "summary": "Store new batch article main groups",
        "requestBody": {
          "description": "Article main group",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "Store new batch article main groups",
                    "items": {
                      "$ref": "#/components/schemas/ArticleMainGroup"
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/articles/{article}/translations/{field}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get one or more article field translations",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "Translation field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language id or language ISO 639-1 code",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Article field translations",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Articles"],
        "summary": "Set or update an article field translation",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "Translation field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Translation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Translation"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "201": {
            "description": "CREATED",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Articles"],
        "summary": "Delete one or all translations for a field",
        "description": "When no language is supplied, all translations for the field will be removed.",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "Translation field",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language id or language ISO 639-1 code",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/main_articles": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get list of main articles",
        "parameters": [
          {
            "name": "include_hidden",
            "in": "query",
            "description": "If true, soft deleted main articles will be included",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the main article(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Main article list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Articles"],
        "summary": "Store new main article",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the main article(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Main article",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MainArticle"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/main_articles/{main_article}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get specific main article",
        "parameters": [
          {
            "name": "main_article",
            "in": "path",
            "description": "Main article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the main article(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article main group",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MainArticle"
                }
              }
            }
          },
          "404": {
            "description": "Entity Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Articles"],
        "summary": "Update main article",
        "parameters": [
          {
            "name": "main_article",
            "in": "path",
            "description": "Main article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * customFields: Custom fields set for the main article(s).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["customFields"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Main article",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MainArticle"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Articles"],
        "summary": "Delete main article",
        "parameters": [
          {
            "name": "main_article",
            "in": "path",
            "description": "Main article ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/main_articles/batch": {
      "post": {
        "tags": ["Articles"],
        "summary": "Store new batch main articles",
        "requestBody": {
          "description": "Main article",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "description": "Store new batch main articles",
                    "items": {
                      "$ref": "#/components/schemas/MainArticle"
                    }
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/articles/{article}/stock/warehouses/{warehouse}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get warehouse stock info.",
        "description": "Gets information for default warehouse if no supplied.",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "warehouse",
            "in": "path",
            "description": "Warehouse id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseStock"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Articles"],
        "summary": "Update warehouse stock info",
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "warehouse",
            "in": "path",
            "description": "Warehouse id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Translation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseStock"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/articles/stock": {
      "put": {
        "tags": ["Articles"],
        "summary": "Update warehouse stock info from batch",
        "requestBody": {
          "description": "Translation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseStock"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/articles/stock/warehouses/{warehouse}": {
      "get": {
        "tags": ["Articles"],
        "summary": "Get all stock for given warehouse",
        "parameters": [
          {
            "name": "warehouse",
            "in": "path",
            "description": "Warehouse id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/articles/{article}/stock/warehouses/{warehouse}/mutate": {
      "post": {
        "tags": ["Articles"],
        "parameters": [
          {
            "name": "article",
            "in": "path",
            "description": "Article id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "warehouse",
            "in": "path",
            "description": "Warehouse id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockMutation"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/asset_classes": {
      "get": {
        "tags": ["AssetClasses"],
        "summary": "Get asset classes list",
        "responses": {
          "200": {
            "description": "AssetClass",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AssetClasses"],
        "summary": "Store asset class",
        "requestBody": {
          "description": "AssetClass",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetClass"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/asset_classes/{asset_class}": {
      "put": {
        "tags": ["AssetClasses"],
        "summary": "Update asset class",
        "parameters": [
          {
            "name": "asset_class",
            "in": "path",
            "description": "Asset class ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "AssetClass",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetClass"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["AssetClasses"],
        "summary": "Delete asset class",
        "parameters": [
          {
            "name": "asset_class",
            "in": "path",
            "description": "Asset class ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/assets": {
      "get": {
        "tags": ["Assets"],
        "summary": "Get assets list",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "onlyRoot",
            "in": "query",
            "description": "Only return assets without a parent asset (default true)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Assets"],
        "summary": "Store asset",
        "requestBody": {
          "description": "Asset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/assets/{asset}": {
      "get": {
        "tags": ["Assets"],
        "summary": "Get a specific asset",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "404": {
            "description": "Entity Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Assets"],
        "summary": "Update asset",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Asset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Assets"],
        "summary": "Delete asset",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "Asset ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/assets/external/{sourceRelation}/{externalId}": {
      "post": {
        "tags": ["Assets"],
        "parameters": [
          {
            "name": "sourceRelation",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Asset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Asset"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/asset_custom_fields": {
      "get": {
        "tags": ["AssetCustomFields"],
        "summary": "Get asset custom field list",
        "responses": {
          "200": {
            "description": "AssetCustomField",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/choicelists/{choicelist}": {
      "get": {
        "tags": ["CustomAttributes"],
        "summary": "Get custom attribute choicelist",
        "parameters": [
          {
            "name": "choicelist",
            "in": "path",
            "description": "Attribute choicelist id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomAttributeChoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/documents/{document}/mail": {
      "post": {
        "tags": ["Documents"],
        "summary": "Mail a document",
        "description": "Mail a document / attachment to a recipient. This call will use the default contact e-mail address of the relation from\nthe document unless a contact person id or to e-mail address is supplied.\n\nThe id of the document can be found in the \"data_documenten\" table or will be returned from other api calls.",
        "parameters": [
          {
            "name": "document",
            "in": "path",
            "description": "The stored document id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactperson": {
                    "type": "integer",
                    "description": "When set uses contactperson e-mail address as receivers to address.\n    Not allowed in combination with 'to'."
                  },
                  "to": {
                    "type": "array",
                    "description": "Recipient e-mail address(es).\n    Name can be added using 'First Lastname &lt;mail@test.com&gt;'.\n    Not allowed in combination with 'contactperson'.",
                    "items": {
                      "type": "string",
                      "example": "mail@test.com"
                    }
                  },
                  "cc": {
                    "type": "array",
                    "description": "CC e-mail address(es)",
                    "items": {
                      "type": "string",
                      "example": "mail@test.com"
                    }
                  },
                  "bcc": {
                    "type": "array",
                    "description": "BCC e-mail address(es)",
                    "items": {
                      "type": "string",
                      "example": "mail@test.com"
                    }
                  },
                  "subject": {
                    "type": "string",
                    "description": "E-mail subject"
                  },
                  "body": {
                    "type": "string",
                    "description": "E-mail html body content"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/files/{file}/download": {
      "get": {
        "tags": ["Files"],
        "summary": "Download the specified file.",
        "description": "This route supports the standard If-Modified-Since and If-None-Match HTTP headers to avoid retrieving\nunchanged data.",
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "description": "The ID of the file to download.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "inline",
            "in": "query",
            "description": "Sets the Content-Disposition HTTP header to 'inline' (true; a browser will try to render the file) or 'attachment' (default, false; a browser will offer the file as a download)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/files/upload": {
      "post": {
        "tags": ["Files"],
        "summary": "Upload a file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Uploaded file",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK -- the file was recognised as a duplicate of an existing file, and no new file has been\n    created. The response includes data for that existing file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created -- the file has been uploaded, and the response includes data on the uploaded file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": ["Invoices"],
        "summary": "Get invoice list",
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "description": "If specified, only invoices by given order id will be shown.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "debtor",
            "in": "query",
            "description": "If specified, only invoices by given debtor will be shown.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "available include:\n     *              lines: Invoice lines per invoice shown.\n     *              debtor: Shows debtor relation information.\n     *              paymentCondition: Shows payment condition information.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["lines", "debtor", "paymentCondition"]
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Invoice list",
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/knowledge_base/explanations": {
      "get": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * author: The author of the explanation.\n * menuItem: The explanation is part of a menu item.\n * menuItem.product: The product the menu item belongs to.\n * children: The explanation children.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["author", "menuItem", "menuItem.product", "children"]
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Only lists explanations where the given string matches with the title or description(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Only lists explanations which are part of the given Troublefree product id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "menuItem",
            "in": "query",
            "description": "Only lists explanations which are part of the given menuItem id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "newestFirst",
            "in": "query",
            "description": "Order the list by creation date",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Explanation list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * author: The author of the explanation.\n * menuItem: The explanation is part of a menu item.\n * menuItem.product: The product the menu item belongs to.\n * children: The explanation children.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["author", "menuItem", "menuItem.product", "children"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge explanation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeExplanation"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/knowledge_base/explanations/{explanation}": {
      "get": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "explanation",
            "in": "path",
            "description": "Knowledge explanation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * author: The author of the explanation.\n * menuItem: The explanation is part of a menu item.\n * menuItem.product: The product the menu item belongs to.\n * children: The explanation children.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["author", "menuItem", "menuItem.product", "children"]
              }
            }
          },
          {
            "name": "skipIntern",
            "in": "query",
            "description": "Skip intern explanations",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge Explanation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "explanation",
            "in": "path",
            "description": "Knowledge explanation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * author: The author of the explanation.\n * menuItem: The explanation is part of a menu item.\n * menuItem.product: The product the menu item belongs to.\n * children: The explanation children.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["author", "menuItem", "menuItem.product", "children"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge explanation",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeExplanation"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "explanation",
            "in": "path",
            "description": "Knowledge explanation id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/knowledge_base/menuItems": {
      "get": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "description": "Only lists menu items which are part of the given Troublefree product id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * product: The product the menu item belongs to.\n * parentMenuItem: The parent menu item of the menu item.\n * childMenuItems: The children of the menu item.\n * explanation: The explanation linked to this menu item.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "product",
                  "parentMenuItem",
                  "childMenuItems",
                  "explanation",
                  "explanation.children"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Knowledge menu item list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * product: The product the menu item belongs to.\n * parentMenuItem: The parent menu item of the menu item.\n * childMenuItems: The children of the menu item.\n * explanation: The explanation linked to this menu item.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "product",
                  "parentMenuItem",
                  "childMenuItems",
                  "explanation",
                  "explanation.children"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge menu item",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeMenuItem"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/knowledge_base/menuItems/{menuItem}": {
      "get": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "menuItem",
            "in": "path",
            "description": "Knowledge menu item id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * product: The product the menu item belongs to.\n * parentMenuItem: The parent menu item of the menu item.\n * childMenuItems: The children of the menu item.\n * explanation: The explanation linked to this menu item.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "product",
                  "parentMenuItem",
                  "childMenuItems",
                  "explanation",
                  "explanation.children"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge menu item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "menuItem",
            "in": "path",
            "description": "Knowledge menu item id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * product: The product the menu item belongs to.\n * parentMenuItem: The parent menu item of the menu item.\n * childMenuItems: The children of the menu item.\n * explanation: The explanation linked to this menu item.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "product",
                  "parentMenuItem",
                  "childMenuItems",
                  "explanation",
                  "explanation.children"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge menu item",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeMenuItem"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/knowledge_base/products": {
      "get": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * contactPerson: The contact person for the product.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["contactPerson"]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Knowledge product list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * contactPerson: The contact person for the product.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["contactPerson"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeTroublefreeProduct"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/knowledge_base/products/{product}": {
      "put": {
        "tags": ["Knowledge Base"],
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "Knowledge product id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available Includes:\n * contactPerson: The contact person for the product.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["contactPerson"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Knowledge product",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeTroublefreeProduct"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/layouts/{type}/{document}": {
      "get": {
        "tags": ["Documents"],
        "summary": "Download a pdf layout for a document",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Layout id, layout type or print series name, can also use documenttypes:\n * incassomachtiging\n * offerte\n * relatie\n * voorraadbeheer\n * factuur\n * pakbon\n * order\n * abonnement\n * factuur_herinnering\n * factuur_herinnering2\n * factuur_incasso\n * klaarzetbon\n * inkoop_pakbon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document",
            "in": "path",
            "description": "The id of the document of {type}",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/layouts/{type}/{document}/print": {
      "post": {
        "tags": ["Documents"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Layout id, layout type or print series name, can also use documenttypes:\n * incassomachtiging\n * offerte\n * relatie\n * voorraadbeheer\n * factuur\n * pakbon\n * order\n * abonnement\n * factuur_herinnering\n * factuur_herinnering2\n * factuur_incasso\n * klaarzetbon\n * inkoop_pakbon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "document",
            "in": "path",
            "description": "The id of the document of {type}",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Print layout data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "printer": {
                    "type": "string"
                  },
                  "relation": {
                    "type": "integer"
                  },
                  "contact": {
                    "type": "integer"
                  },
                  "numCopies": {
                    "type": "integer"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/offers": {
      "get": {
        "tags": ["Offers"],
        "summary": "Fetches a list of offers.",
        "description": "Most of the offer fields defined in the response can also be used as GET parameters to filter the list.\nFor instance, add '?debtor=123' to only return offers for the relation with ID '123'.",
        "parameters": [
          {
            "name": "status_final",
            "in": "query",
            "description": "If true, return only offers with statuses that are considered 'final' (i.e. statuses that\n do not lead to other statuses). If false, return only offers with statuses that are NOT considered 'final'.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * employee: Additional information about the employee that created the order.\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * lines: The lines of the offer, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "customFields",
                  "debtor",
                  "employee",
                  "lines",
                  "lines.article",
                  "lines.lineTotal",
                  "lines.unitPrice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Offers"],
        "summary": "Store single offer.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * employee: Additional information about the employee that created the order.\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * lines: The lines of the offer, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "customFields",
                  "debtor",
                  "employee",
                  "lines",
                  "lines.article",
                  "lines.lineTotal",
                  "lines.unitPrice"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Offer data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Offer"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/offers/{offer}": {
      "get": {
        "tags": ["Offers"],
        "summary": "Get single offer.",
        "parameters": [
          {
            "name": "offer",
            "in": "path",
            "description": "Offer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * employee: Additional information about the employee that created the order.\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * lines: The lines of the offer, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "customFields",
                  "debtor",
                  "employee",
                  "lines",
                  "lines.article",
                  "lines.lineTotal",
                  "lines.unitPrice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Offers"],
        "summary": "Update single offer.",
        "parameters": [
          {
            "name": "offer",
            "in": "path",
            "description": "Offer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * employee: Additional information about the employee that created the order.\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * lines: The lines of the offer, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "customFields",
                  "debtor",
                  "employee",
                  "lines",
                  "lines.article",
                  "lines.lineTotal",
                  "lines.unitPrice"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Offer data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Offer"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/offers/{offer}/approve": {
      "post": {
        "tags": ["Offers"],
        "summary": "Create an order from an offer, and mark the offer as 'approved'.",
        "parameters": [
          {
            "name": "offer",
            "in": "path",
            "description": "Offer id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "orderDeliveryAt",
            "in": "query",
            "description": "The date of delivery (YYYY-MM-DD) to set on the order to create",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderLocation",
            "in": "query",
            "description": "The ID of the location to set on the order to create",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["signature"],
                "properties": {
                  "signature": {
                    "type": "string",
                    "description": "Signature image file upload",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to request; first is 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results to return per page (default 100, min 1, max 1000)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "debtor",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines"
                ]
              }
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "Used to sort the order list, the key is the field to sort by and the value is the direction e.g. orderby[id]=ASC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Only lists orders where the given string matches with the reference, addressName (attentionOf), street, city or postcode",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter orders on special criteria",
            "schema": {
              "type": "string",
              "enum": [
                "not_completed",
                "not_delivered",
                "not_invoiced",
                "completed",
                "ready_for_delivery",
                "delivered_invoiced_locked",
                "partially_delivered",
                "not_invoiced_and_not_delivered",
                "not_reserved",
                "delivered",
                "reserved",
                "reserved_deliver_locked",
                "invoiced",
                "invoice_locked",
                "no_receipt_not_delivered",
                "paid_not_completed",
                "paid_not_delivered",
                "in_shipment"
              ]
            }
          },
          {
            "name": "withoutSourceFor",
            "in": "query",
            "description": "Only select orders without external link to a source Relation. Use '*' to exclude all sources",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Order list",
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Orders"],
        "summary": "Store new order",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "debtor",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Order data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{order}": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get single order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Default includes:\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.\n\nAvailable includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines.article",
                  "lines.lineTotal",
                  "lines.unitPrice"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Orders"],
        "summary": "Update order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "debtor",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Order data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": ["Orders"],
        "summary": "Delete order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "NO CONTENT",
            "content": {}
          }
        }
      }
    },
    "/orders/external/{sourceRelation}/{externalId}": {
      "put": {
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "sourceRelation",
            "in": "path",
            "description": "Id of the relation used as reference for the external source link",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "description": "External id linked to this order",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "debtor",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Order data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{order}/invoice": {
      "post": {
        "tags": ["Orders"],
        "summary": "Invoice order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {}
          }
        }
      }
    },
    "/orders/{order}/payments": {
      "post": {
        "tags": ["Orders"],
        "summary": "Store payment for Order",
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Available includes for Response:\n * order: The order that the payment was made on.\n * paymentMethod: Additional information about the payment method used.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["order", "paymentMethod"]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Payment data",
          "content": {
            "application/json": {
              "schema": {
                "required": ["amount", "method"],
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "The payment amount that will be added to the order."
                  },
                  "method": {
                    "type": "integer",
                    "description": "The ID of the payment method used for the payment"
                  },
                  "currency": {
                    "type": "integer",
                    "description": "The ID of the currency used for the payment. If omitted, the currency configured for the order will be used."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "CREATED",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/preview": {
      "post": {
        "tags": ["Orders"],
        "summary": "A fictive order is created and returned.",
        "description": "This method is used to get the current order values just as if the order would actually been pushed.",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Available includes:\n * prePaidTotalAmount: The total amount pre-paid (deposit) specifically for this order (payments from invoices aren't included).\n * orderSources: The known order sources (identifiers associated with this order in other systems).\n * debtor: Additional information about the debtor of the order, such as company name, VAT code and contact persons.\n * employee: Additional information about the employee that created the order.\n * invoicingCondition: The conditions under which the order can be invoiced.\n * lines: The lines of the order, containing quantities, articles, descriptions, etc.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "prePaidTotalAmount",
                  "orderSources",
                  "debtor",
                  "employee",
                  "project",
                  "invoicingCondition",
                  "lines"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "description": "Order data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/orders/{order}/deliver": {
      "post": {
        "tags": ["Orders"],
        "parameters": [
          {
            "name": "order",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Order deliver data",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batchDelivery": {
                    "type": "boolean",
                    "default": false
                  },
                  "packingSlip": {
                    "type": "object",
                    "properties": {
                      "work": {
                        "type": "string"
                      },
                      "deliveryMethod": {
                        "type": "integer"
                      },
                      "pickedUpBy": {
                        "type": "string"
                      },
                      "employee": {
                        "type": "integer"
                      },
                      "completeDelivery": {
                        "type": "boolean"
                      }
                    }
                  },
                  "items": {
[...]
